<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Contact Roama
        link(rel="stylesheet", href="stylesheets/home.css")
        link(rel="stylesheet", href="stylesheets/animate.css")
    body
        include navbar.pug
        div.container
            div.row
                div.col.lg
                    div.card
                    img.card-img-top(src="images/contact.jpg", alt="conatact image" style="height: 300px; width: 300px;")
                div.col.lg.container
                    h3.display-5.text-center ROAMA CAKES IS MADE EASILY ASSESSIBLE TO YOU, OUR DEAR CUSTOMERS.
                    h5 YOU CAN REACH US THROUGH ANY OF THE FOLLOWING METHODS LISTED BELOW:
                    hr
                    p <strong>Visit at our address:</strong> 112 Liberty road, Ibadan, Oyo state
                    hr
                    p <strong>Telephone:</strong> 0816 660 0901
                    p <strong>Whatsapp:</strong> 0816 660 0901
                    hr
                    p <strong>instagram:</strong> @roamacakes
        include footer.pug