<nav class="navbar navbar-light bg-danger" style="color: white;">
    <p>&copy; Designed and built with all the love in the world by<a href="http://linkedin.com/in/samuel-kurdz-75212b111/" target="blank"> Red Cetera Inc.</a> &copy;2018 </p>
</nav>