<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Roama Gallery
        link(rel="stylesheet", href="stylesheets/home.css")

    body
        include navbar.pug
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="images/2.jpg" alt="Card image cap">
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="images/7.jpg" alt="Card image cap">
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="images/42.jpg" alt="Card image cap">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="images/15.jpg" alt="Card image cap">
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="images/33.jpg" alt="Card image cap">
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="images/19.jpg" alt="Card image cap">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="images/21.jpg" alt="Card image cap">
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="images/24.jpg" alt="Card image cap">
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="images/9.jpg" alt="Card image cap">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="images/35.jpg" alt="Card image cap">
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="images/36.jpg" alt="Card image cap">
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="images/38.jpg" alt="Card image cap">
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="images/40.jpg" alt="Card image cap">
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="images/41.jpg" alt="Card image cap">
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="images/44.jpg" alt="Card image cap">
                </div>
            </div>
        </div>

    </div>
    hr
    include footer.pug